@using ems.Areas.Identity.Types
@model List<UserDTO>
@{
    ViewBag.Title = "all users";
    int count = 1;
}

<partial name="_DeleteConfirmationModal"></partial>
<h3 class="page-header">All employee</h3>

<table class="table table-bordered table-striped display datatable-1">
    <thead>
        <tr>
            <th>S.N.</th>
            <th>Photo</th>
            <th>Name</th>
            <th>Role</th>
            <th>Department</th>
            <th>Post</th>
            <th>StartDate</th>
            <th>Mobile</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@(count++)</td>
                <td>@user.Photo</td>
                <td>@user.Name</td>
                <td>@(string.Join(" ", user.Roles))</td>
                <td>@user.Department</td>
                <td>@(EnumHelper<Designation>.GetDisplayValue(user.Post))</td>
                <td>@user.StartDate</td>
                <td>@user.PhoneNumber</td>
                <td><a asp-action="Edit" asp-route-id="@user.Id" class="btn btn-primary">Edit</a></td>
                <td>
                    <a data-toggle="modal"
                        href="#delete-modal"
                        data-resource-id="@user.Id"
                        data-resource-name="User"
                        data-action="@(Url.RouteUrl("DeleteUser",  new {id =user.Id}))"
                        class="btn btn-danger">Delete</a>
                    </td>
                </tr>
        }
  </tbody>
</table>

@section Scripts{
    <partial name="_PagingJavascriptImports"></partial>
}