@model IndexViewModel
<h2>Dashboard</h2>
<div class="alert alert-secondary">Dashboard</div>
<div class="content">
    <div class="btn-controls">
        <div class="btn-box-row row-fluid">
            <a href="#" class="btn-box big span3" style="background-color: #2121b9b8;">
                <i class="icon-user" style="color: white;"></i>
                <p style="color:white; font-size:1rem;">Users</p>
                <b style="color:white; background-color:#0000ff38;">@Model.UserCount</b>
            </a>
             <a href="#" class="btn-box big span3" style="background-color: #ffa500d6;">
                <i class="icon-building" style="color: white;"></i>
                <p style="color:white; font-size:1rem;">Departments</p>
                <b style="color:white; background-color:orange" >@Model.DepartmentCount</b>
            </a>
            <a href="#" class="btn-box big span3" style="background-color: #008000d4;">
                <i class="icon-envelope" style="color: white;"></i>
                <p style="color:white; font-size:1rem;">Notices</p>
                <b style="color:white; background-color:green;">@Model.NoticeCount</b>
            </a>
            <a href="#" class="btn-box big span3" style="background-color: #ff0000b8;;">
                <i class="icon-book" style="color: white;"></i>
                <p style="color:white; font-size:1rem;">Leaves</p>
                <b style="color:white; background-color:red;">@Model.LeaveCount</b>
            </a>
        </div>
    </div>
</div>

<div class="info">
    <p class="title">
        Your Details
    </p>
    <div class="description">
        <p>Email:@Model.IndividualInfo.Email</p>
        <p>Address:@Model.IndividualInfo.Address</p>
        <p>Mobile Number:@Model.IndividualInfo.MobileNumber</p>
        <p>Designation:@Model.IndividualInfo.Designation</p>
        <p>StartDate: @Model.IndividualInfo.StartDate.ToShortDateString()</p>
        <p>Department:@Model.IndividualInfo.Department</p>
        <p> 
            @foreach(var role in Model.IndividualInfo.Roles)
            {
                
            <span   class="badge badge-success" 
                    style="display: inline-block; padding:.5rem;">Role:@role
            </span>
            }
        </p>

    </div>
</div>