@model List<NoticeViewModel>
@{
    ViewBag.Title = "Notices";
}

<partial name=_DeleteConfirmationModal></partial>
<h3 class="page-header">All notices</h3>
@foreach(var notice in Model){
    
    <div class="notice">
        <p class="notice-title">@notice.Title</p>
        <p class="notice-description">@notice.Description</p>
        <span class="badge badge-success">@notice.CreatedDate.Value.ToShortDateString()</span>
        <span class="badge badge-warning">dummyuser</span>
        <div class="notice-actions">
            <a asp-action="Edit" asp-route-id="@notice.Id" class="btn btn-primary">Edit</a>
            <a href="#delete-modal"
                data-action="@Url.Action("Delete", "Notice")"
                data-resource-id="@notice.Id"
                data-resource-name="notice"
                data-toggle="modal" class="btn btn-danger">Delete</a>
        </div>
    </div>
}